<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> NewsPaper - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%  static 'css/main.css' %}">
</head>
<body>

    {% include 'inc/navbar.html' %}

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    <script src="{%  static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>
</body>
</html>